<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form class="form-horizontal" action="/client" method="POST">
      <fieldset>
        
      <!-- Form Name -->
      <legend>Nouveau Client</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="nom">Nom</label>
        <div class="col-md-4">
        <input id="nom" name="nom" type="text" placeholder="" class="form-control input-md" required="">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="ville">Ville</label>
        <div class="col-md-4">
        <input id="ville" name="ville" type="text" placeholder="" class="form-control input-md" required="">

        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="submit"></label>
        <div class="col-md-4">
          <button id="submit" name="submit" class="btn btn-primary">Envoyer</button>
        </div>
      </div>

      </fieldset>
      </form>
    </div>
  </div>
</div>
