<div class="container">
  <div class="row">
    <div class="col-md-12">
        <center>
        <h1> Gestion de Stock et Inventaire </h1>
        <label> 2018 ENSAM Casablanca.</label>

        <footer>
          Pr.  HAIN MUSTAPHA
        </footer>
      </center>
    </div>
  </div>
</div>
