<div class="container">
  <div class="row">
    <div class="col-md-12">
        <center>
        <h1> Inventory Management System </h1>
        <label> 2018 ENSAM Casablanca.</label>

        <footer>
          Equipe Pédagogique e-Logistique ENSAM-Casablanca
        </footer>
      </center>
    </div>
  </div>
</div>
